<h1>{{title}}</h1>
<p id="test">Instructions: {{description}}</p>

<!--<div class="artistName"></div>-->
<div class="border box">testText</div>
 
<div class="map-wrapper">
	<div id="mapCanvas"></div>
</div>
<div id="panel" class="clearfix">
	<form> <!--Change this into a form -->
    	<input id="city_country" type="textbox" value="Dublin, Ireland" class="searchBox" name="countrySearch">
    	<input type="button" value="Search" onclick="codeAddress()" class="submitListener" name="countrySearch">
	</form>  
</div>
<div id="infoPanel">
  <!--<b>Marker status:</b>-->
  <div id="markerStatus"><i><!--Click and drag the marker.--></i></div>
  <!--<b>Current position:</b>-->
  <div id="info"></div>
  <!--<b>Fetched ISO-3166-2 code from Google Maps API:</b>-->
  <!--<div id="address"></div>-->
</div>

<h2 class="clearfix">Re-discover Previous Countries</h2>
<div id="address"></div>
<div id="previouslySearched"></div>

<h2 class="clearfix">Top Artists for selectedCountry</h2>
<div class="clearfix results"></div>  <!--Need to apply a clearfix to clear the map marker info-->




