* {
  box-sizing: border-box;
}

.hide {
	display: none;
}

/*Media Queries*/
	/*Mobile Viewport*/

.play-toggle {
	transform: scale(.4);
}

.map-wrapper {
  display: none;
}

.sec-title, form {
	display: block;
	text-align: center;
}

form{
	padding-bottom: 10px;
}

#infoPanel {
	display: none;
}

input[type="textbox"]{ 
	padding: 5px 10px;
	margin-bottom: 10px;
	line-height: 40px;
	width: 100%;
	font-size: 18px; 
}

input[type="submit"]{ 
	padding: 5px 10px;
	line-height: 40px;
	width: 35%;
	font-size: 18px; 
}

hr {
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.recentCountry {
	font-size: 18px;
	font-weight: bolder;
	padding-left: 20px;
}

.recentCountry:hover {
	text-decoration: underline;
}

.albumArt {
  height: 100%;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.row {
  max-width: 1000px;
  margin: 0 auto;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.col-6 {
  width: 100%;
  padding: 10px 0;
  /*border: 2px solid green;*/
  float: left;
}

.result-col {
    width: 80%;
    padding: 10px;
    margin: auto;
}

img.albumArt {
	min-width: 200px;
	max-width: 250px;
	text-align: center;
}

hr {
	display: block;
	clear: both;
}

.discover {
	  border: none;
}

@media screen and (max-width: 400px) {
	#mapCanvas {
		display: none;
	}

	#previouslySearched {
		display: block;
		width: 100%;
	}
}


/*Tablet Viewport*/
@media screen and (min-width: 401px) {
	h1 {
		font-size: 175%;
	}

	.discover {
	  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	  height: 300px;
	  background-color: #AABFCD;
	}

	.row-1 {
		width: 70%;
	}

	.row-2 {
		width: 30%;
	}

	h2 {
		width: 100%;
		padding-bottom: 10px;
		margin: auto;
	}

	.container {
		position: relative;
	}

	.sec-title {
		display: block;
		text-align: left;
	}

	hr {
		display: none;
	}

	input[type="submit"]{ 
	line-height: 35px;
	width: 20%;
	font-size: 18px; 
	max-width: 600px;
	min-width: 300px;
	}

	.map-wrapper {
		display: block;
		width: 90%;
		margin: auto;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		border: 1px solid black;
		/*visibility: visible;*/
		/*border: 4px dashed yellow;*/
	}

	#mapCanvas {
		width: 100%;
  		height: 400px;
  		margin: auto;
  		/*border: 4px dashed red;*/
	}

	.col-6 {
		width: 100%;
		/*padding: 15px;
		margin: 15px;*/
	}

	img.albumArt {
		/*create a ruleset for max width and height for image*/
		max-width: 300px;
		max-height: 300px;
	}

	input[type="textbox"]{ 
		width: 75%;
		font-size: 24px;
		max-width: 900px;
		min-width: 400px;
	}

	.play-toggle {
		line-height: 45px;
		font-size: 18px;

	}
}


/*Desktop Viewport*/
@media screen and (min-width: 768px) {
	h1 {
		font-size: 350%;	
	}

	.row-1 {
		width: 75%;
		position: absolute;
		top: 50px;

	}

	.row-2 {
    position: absolute;
    right: 0px;
    top: 50px;
    width: 25%;
	}

	.map-wrapper {
		display: block;
		max-width: 900px;
		min-width: 400px;
		margin: auto;
		/*visibility: visible;*/
		/*border: 4px dashed green;*/
	}

	#mapCanvas {
		visibility: visible;
		width: 100%;
  		height: 600px;
  		margin: auto;
  		/*border: 4px dashed blue;*/
	}

	.song-detail {
		font-size: 18px;
		padding-bottom: 30px;
	}

	.result-wrapper {
		/*border: 2px dashed green;*/
		max-width: 80%;
		margin: auto;
	}
}


