* {
 	box-sizing: border-box;
}

.hide {
	display: none;
}

/*Media Queries*/
	/*Mobile Viewport*/
form{
	padding-bottom: 10px;
}

input[type="textbox"]{ 
	padding: 5px 10px;
	margin-bottom: 10px;
	line-height: 40px;
	width: 100%;
	font-size: 18px; 
}

input[type="submit"]{ 
	padding: 5px 10px;
	line-height: 40px;
	width: 35%;
	font-size: 18px; 
}

.play-toggle {
	transform: scale(.4);
}

.map-wrapper {
 	display: none;
}

.col-6 {
	width: 100%;
	padding: 10px 0;
	float: left;
	margin-bottom: 15px;
}

.result-col {
    width: 80%;
    padding: 10px;
    margin: auto;
}

.sec-title, form {
	display: block;
	text-align: center;
}

.recentCountry {
	font-size: 22px;
	font-weight: bolder;
}

.albumArt {
	height: 100%;
	width: 100%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.row {
 	max-width: 1000px;
 	margin: 0 auto;
}

img.albumArt {
	min-width: 200px;
	max-width: 250px;
	text-align: center;
}

#infoPanel {
	display: none;
}

.recentCountry:hover {
	text-decoration: underline;
}

.row::before,
.row::after {
	display: table;
	content: '';
}

@media screen and (max-width: 400px) {
	h2 {
		font-size: 36px;
		margin: 15px 0;
	}

	#mapCanvas {
		display: none;
	}

	#previouslySearched {
		display: block;
		width: 100%;
	}
}

/*Tablet Viewport*/
@media screen and (min-width: 401px) {
	h1 {
		font-size: 175%;
	}

	h2 {
		width: 100%;
		padding-bottom: 10px;
		margin: auto;
	}

	input[type="textbox"]{ 
		width: 75%;
		font-size: 24px;
		max-width: 900px;
		min-width: 400px;
	}

	input[type="submit"]{ 
		line-height: 35px;
		width: 20%;
		font-size: 18px; 
		max-width: 600px;
		min-width: 300px;
	}

	.recentCountry {
		padding-left: 20px;
		font-size: 18px;
	}

	.row-1 {
		width: 70%;
	}

	.row-2 {
		width: 30%;
	}

	.container {
		position: relative;
	}

	.sec-title {
		display: block;
		text-align: left;
	}

	.col-6 {
		width: 100%;
		/*padding: 15px;
		margin: 15px;*/
	}

	.map-wrapper {
		display: block;
		width: 90%;
		margin: auto;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		border: 1px solid black;
	}

	.play-toggle {
		line-height: 45px;
		font-size: 18px;

	}

	img.albumArt {
		max-width: 300px;
		max-height: 300px;
	}

	#mapCanvas {
		width: 100%;
  		height: 400px;
  		margin: auto;
	}
}


/*Desktop Viewport*/
@media screen and (min-width: 768px) {
	h1 {
		font-size: 350%;	
	}

	.row-1 {
		width: 75%;
		position: absolute;
		top: 50px;

	}

	.row-2 {
	    position: absolute;
	    right: -10px;
	    top: 50px;
	    width: 25%;
	}

	.map-wrapper {
		display: block;
		max-width: 900px;
		min-width: 400px;
		margin: auto;
	}

	.song-detail {
		font-size: 18px;
		padding-bottom: 30px;
	}

	.result-wrapper {
		max-width: 80%;
		margin: auto;
	}

	#mapCanvas {
		visibility: visible;
		width: 100%;
  		height: 600px;
  		margin: auto;
	}
}


